.registerdone-main
  .newuser__header
    .newuser__header__wrap.flex
      .newuser__header--left.flex
        = image_tag "logo_red.svg", alt: "アイコン",size: "50x50", class: 'mypage__icon'
        = link_to 'Fmarket', root_path
      .newuser__header--right
        %ul.flex
          %li.newuser__header--right__list
            %p 会員情報
            .newuser__header--right__progress-a#top3_1
          %li.newuser__header--right__list
            %p 電話番号認証
            .newuser__header--right__progress-ab#top3_2
          %li.newuser__header--right__list
            %p お届け先住所入力
            .newuser__header--right__progress-ab#top3_3
          %li.newuser__header--right__list
            %p 支払い方法
            .newuser__header--right__progress-ab#top4_4
          %li.newuser__header--right__list
            %p 完了
            .newuser__header--right__progress-b#top5_5
  .registerdone-body
    .registerdone-body__word
      会員登録完了
    .registerdone-body__message
      ありがとうございます。
    .registerdone-body__message2
      会員登録が完了しました。
    .registerdone-body__start
      = link_to "メルカリをはじめる", root_path, class: "registerdone-body__start__link"
    .registerdone-body__images
      = image_tag 'image3.jpeg', height: '300px', width: '380px', class: 'registerdone-body__images__ground'
      .registerdone-body__images__word
        ＼ スマホでかんたんフリマアプリ ／
      .registerdone-body__images__word2
        今すぐ無料ダウンロード！
      .registerdone-body__images__word3
        = link_to "https://apps.apple.com/jp/app/id667861049?l=ja", target: "_blank", class: "registerdone-app" do
          = image_tag "apple.png", size: "200x80", class: "toppage-logo"
        = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", target: "_blank", class: "registerdone-app" do
          = image_tag "google-play.png", size: "200x80", class: "toppge-logo"
          
  = render "subfooter"
