%body
  .signup
    .signup-header
      %h1
        =link_to image_tag("fmarket_logo_red.svg"),"#"
      %nav.signup-bar
        %ol.signup-bar__list

    %main.signup-main
      %section.container
        %h2.container.registaration 新規会員登録
        .registaration-form
          .registaration-form__contents
            =link_to "#", class: "btn-mail" do
              = icon( 'far' ,'envelope',class: "contents__btn--icon")
              メールアドレスで登録する

            =link_to "#", class: "btn-facebook" do
              = icon('fab', 'facebook-square',  class: "contents__btn--icon")
              Facebookで登録する
          
            =link_to "#", class: "btn-google" do
              = icon( 'fab', 'google',class: "contents__btn--icon")
              Googleで登録する

    %footer.signup-footer
      %nav
        %ul
          %li.signup-footer__list
            = link_to "#" do
              プライバシーポリシー
          
          %li.signup-footer__list
            = link_to "#" do
              メルカリ利用規約
          
          %li.signup-footer__list
            = link_to "#" do
              特定商取引に関する表記


      =link_to image_tag("logo_gray.svg",class:"signup-footer-logo"),"#"

      %p
        %small © Mercari, Inc.
            