.profile 
  .nav
    %ul
      %li 
        メルカリ
        = icon('fas', 'angle-right') 
      %li 
        マイページ
        = icon('fas', 'angle-right')
      %li 発送元・お届け先住所変更
  .profile__main
    /以下サイドバー（上部）
    .profile__container.flex 
      =render "sidebar"
      .profile__right__wrap
        .profile__right__content
          %h2.profile__right__content__head 発送元・お届け先住所変更
          .profile__right__content__form
            = form_for '#' do |f|
              .delibver__right__content__group
                %ul.delibver__right__content__group__top.flex
                  %li.delibver__right__content__group__name お名前
                  %li.delibver__tag.delibver__tag__require 必須
                %ul
                  %li= f.text_field :last_name,  class: 'delibver__right__input', placeholder: '例)山田'
                  %li= f.text_field :first_name, class: 'delibver__right__input', placeholder: '例)彩'
              .delibver__right__content__group
                %ul.delibver__right__content__group__top.flex
                  %li.delibver__right__content__group__name お名前カナ
                  %li.delibver__tag.delibver__tag__require 必須
                %ul
                  %li= f.text_field :last_name_kana,  class: 'delibver__right__input', placeholder: '例)ヤマダ'
                  %li= f.text_field :first_name_kana, class: 'delibver__right__input', placeholder: '例)アヤ'
              .delibver__right__content__group
                %ul.delibver__right__content__group__top.flex
                  %li.delibver__right__content__group__name 郵便番号
                  %li.delibver__tag.delibver__tag__require 必須
                %li= f.text_field :first_name_kana, class: 'delibver__right__input', placeholder: '例)123-4567'
              .delibver__right__content__group
                %ul.delibver__right__content__group__top.flex
                  %li.delibver__right__content__group__name 都道府県
                  %li.delibver__tag.delibver__tag__require 必須
                %li= f.select  :first_name_kana, class: 'delibver__right__input', placeholder: '例)!!!!!!!!!'
              .delibver__right__content__group
                %ul.delibver__right__content__group__top.flex
                  %li.delibver__right__content__group__name 市区町村
                  %li.delibver__tag.delibver__tag__require  必須
                %li= f.text_field :first_name_kana, class: 'delibver__right__input', placeholder: '例)横浜市緑区'
              .delibver__right__content__group
                %ul.delibver__right__content__group__top.flex
                  %li.delibver__right__content__group__name 番地 
                  %li.delibver__tag.delibver__tag__require 必須
                %li= f.text_field :first_name_kana, class: 'delibver__right__input', placeholder: '例)青山1-1-1'
              .delibver__right__content__group
                %ul.delibver__right__content__group__top.flex
                  %li.delibver__right__content__group__name 建物名 
                  %li.delibver__tag.delibver__tag__arbitrary 任意
                %li= f.text_field :first_name_kana, class: 'delibver__right__input', placeholder: '例)柳ビル103'
              .delibver__right__content__group
                %ul.delibver__right__content__group__top.flex
                  %li.delibver__right__content__group__name 電話
                  %li.delibver__tag.delibver__tag__arbitrary 任意
                %li= f.text_field :first_name_kana, class: 'delibver__right__input', placeholder: '例)090-1234-5678'
                = f.submit '変更する', class: 'profile__right__input__send'