=render 'items/header'
.profile 
  .nav
    .nav__info
      - breadcrumb :deliver_address
      = render "layouts/breadcrumbs"
  .profile__main
    /以下サイドバー（上部）
    .profile__container.flex
      =render "sidebar"
      .profile__right__wrap
        .profile__right__content
          %h2.profile__right__content__head 発送元・お届け先住所変更
          .profile__right__content__form
            = form_for @user,url: user_pass_path(@user.id) do |f|
              .delibver__right__content__group
                %ul.delibver__right__content__group__top.flex
                  %li.delibver__right__content__group__name メールアドレス
                %ul
                  -if @user.email.present?
                    %li= f.text_field :last_name,  class: 'delibver__right__input', placeholder: '例)山田',value: @user.email
                  -else
                    %li= f.text_field :last_name,  class: 'delibver__right__input', placeholder: '例)freemarket@gmail.com'
              -# .delibver__right__content__group
              -#   %ul.delibver__right__content__group__top.flex
              -#     %li.delibver__right__content__group__name 現在のパスワード
              -#   %ul
              -#     %li= f.text_field :current_password,  class: 'delibver__right__input'
              .delibver__right__content__group
                %ul.delibver__right__content__group__top.flex
                  %li.delibver__right__content__group__name 新しいパスワード
                %ul
                  %li= f.password_field :password,  class: 'delibver__right__input'
              %p ※ 英字と数字の両方を含めて設定してください
              .delibver__right__content__group
                %ul.delibver__right__content__group__top.flex
                  %li.delibver__right__content__group__name 新しいパスワード確認
                %ul
                  %li= f.password_field :password_confirmation,  class: 'delibver__right__input'
                = f.submit '変更する', class: 'profile__right__input__send'
      
=render 'items/footer'