.profile 
  .nav
    /以下ナビゲーションバー
    %ul
      %li 
        メルカリ
        = icon('fas', 'angle-right') 
      %li 
        マイページ
        = icon('fas', 'angle-right')
      %li プロフィール
  .profile__main
    .profile__container.flex 
      /以下サイドバーrender
      =render "sidebar"
      /以下右側 ユーザー情報編集ページ
      .profile__right__wrap
        .profile__right__content
          %h2.profile__right__content__head プロフィール
          /以下右側 ユーザー情報編集form
          = form_for '#' do |f|
            .profile__right__content__edit
              .profile__right__content__edit__nickname.flex
                = image_tag "miniature-d.jpg", alt: "顔写真2",size: "60x60", class: 'mypage__icon'
                = f.text_field :nickname, class: 'profile__right__input__nickname'
            /以下右側 ユーザー情報編集form(自己紹介文)    
            .profile__right__content__bottom
              .profile__right__content__profile
                = f.text_area :introduction, class: 'profile__right__input__introduction', size: "81x16", placeholder: '例）こんにちは☆ ご覧いただきありがとうございます！かわいいものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪'
                = f.submit '変更する', class: 'profile__right__input__send'

                