.phone-container
  .newuser__header
    .newuser__header__wrap.flex
      .newuser__header--left.flex
        = image_tag "logo_red.svg", alt: "アイコン",size: "50x50", class: 'mypage__icon'
        = link_to 'Fmarket', root_path
      .newuser__header--right
        %ul.flex
          %li.newuser__header--right__list
            %p 会員情報
            .newuser__header--right__progress-a#top3_1
          %li.newuser__header--right__list
            %p 電話番号認証
            .newuser__header--right__progress-ab#top3_2_phone
          %li.newuser__header--right__list
            %p お届け先住所入力
            .newuser__header--right__progress-ab
          %li.newuser__header--right__list
            %p 支払い方法
            .newuser__header--right__progress-ab
          %li.newuser__header--right__list
            %p 完了
            .newuser__header--right__progress-b

  .phone-main-content
    .phone-main-content__title
      電話番号の確認
    .phone-main-content__body
      .phone-main-content__body__text-box
        = form_for @number, url: tellphone_path,method: :post do |f|
          .phone-text-top
            携帯電話の番号
          = f.text_field :number,class:'phone-main-content__body__text-box--boxing',placeholder: '携帯電話の番号を入力' 
          .phone-text-middle
            本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
          = f.submit '次へ進む', class: 'newuser__body__input__send'
          .phone-text-bottom
            ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
      .phone-main-content__body__under-link
        = link_to '#',class:"phone-main-content__body__under-link--link" do
          電話番号の確認が必要な理由＞

