/売却済みの商品
=render 'items/header'
.mypage__body
  .nav
    .nav__info
      - breadcrumb :item_buyed
      = render "layouts/breadcrumbs"
  .buysell__main
    .buysell__container.flex 
      =render "sidebar"
      .buysell--right
        .buysell--right__head
          %h2.buysell--right__head__message 出品した商品
        %ul.buysell--right__items
          %li.buysell--right__items--item
            = link_to "/users/mypage/exhibit/#{@user.id}"  do
              %h3 出品中
          %li.buysell--right__items--item
            = link_to "/users/mypage/negotiate/#{@user.id}" do
              %h3 取引中
          %li.buysell--right__items--item.click
            = link_to "/users/mypage/buyed/#{@user.id}" do
              %h3 売却済み
        .buysell--right__body
          .buysell--right__body--item
            -# method: 'sold_items'
            -if @user.sold_items.present?
              - @user.sold_items.each do |item|
                .buysell--right__body--item--yes
                  .buysell--right__body--item--yes--content
                    =image_tag item.images[0].src.to_s,size:"100x100",class:"item-image"
                    .item-name
                      =item.name
                    -# stutas: '売却済み'
                    .item-status 売却済み
                    %p.item-link 
                      =link_to '#' do
                        >
            -else
              .buysell--right__body--item--no
                = image_tag('logo_gray.svg',size:"150x100")
                -# noiitem: '売却済みの商品がありません'
                %p 売却済みの商品がありません

        .bottom-button
          %button.left-button 
            -# link1: ''
            = link_to "/users/mypage/negotiate/#{@user.id}" do
              <
          %button.right-button 
            -# link2: ''
            = link_to "/users/mypage/exhibit/#{@user.id}" do
              >

=render 'items/footer'