=render 'items/header'
.mypage__body
  .nav
    .nav__info
      - breadcrumb :mypage
      = render "layouts/breadcrumbs"
  
  .mypage__main
    /以下サイドバー（上部）
    .mypage__container.flex 
      =render "sidebar"
      .mypage__container--right
        /メインコンテンツユーザー情報
        .mypage__top
          = image_tag"d2132ab97f92c4f271afe801ea0939f4_m.jpg", alt: "顔写真2",size: "700x190", class: 'mypage__top'
          = link_to root_path do
            .mypage__top__icon
              = image_tag "miniature-d.jpg", alt: "顔写真2",size: "60x60", class: 'mypage__icon'
            %h2 
            =@user.nickname
            .mypage__top__number 
              ="評価 1 出品数 #{@user.items.count}"
        /メインコンテンツ タブ選択(お知らせ/やることリスト)
        .mypage__select
          .mypage__select__tab
            %ul
              %li.mypage__item.active
                = link_to '#'  do
                  %h3 お知らせ
              %li.mypage__item
                = link_to '#' do
                  %h3 やることリスト
          /メインコンテンツ タブ選択(お知らせ)の内容
          .mypage__select__body
            %ul
              %li.mypage__content.show
                %ul.mypage__content__list
                  %li
                    = link_to root_path do
                      = image_tag "logo_red.svg", alt: "顔写真2",size: "48x48", class: 'news__icon'
                      .mypage__select__body__text
                        事務局から個別メッセージ『ログイン機能』
                        .mypage__select__bod__text__time
                          ● 21時間前
                      = icon('fas', 'angle-right', class: 'mypage__content__list__icon')
                  %li
                    = link_to root_path do
                      = image_tag "logo_red.svg", alt: "顔写真2",size: "48x48", class: 'news__icon'
                      .mypage__select__body__text
                        事務局から個別メッセージ『ログイン機能』
                        .mypage__select__bod__text__time
                          ● 21時間前
                      = icon('fas', 'angle-right', class: 'mypage__content__list__icon')
                  %li
                    = link_to root_path do
                      = image_tag "logo_red.svg", alt: "顔写真2",size: "48x48", class: 'news__icon'
                      .mypage__select__body__text
                        事務局から個別メッセージ『ログイン機能』
                        .mypage__select__bod__text__time
                          ● 21時間前
                      = icon('fas', 'angle-right', class: 'mypage__content__list__icon')
                  %li
                    = link_to root_path do
                      = image_tag "logo_red.svg", alt: "顔写真2",size: "48x48", class: 'news__icon'
                      .mypage__select__body__text
                        事務局から個別メッセージ『ログイン機能』
                        .mypage__select__bod__text__time
                          ● 21時間前
                      = icon('fas', 'angle-right', class: 'mypage__content__list__icon')
                  %li.go__index
                    = link_to root_path  do
                      .go__index__area
                        一覧を見る
              /メインコンテンツ タブ選択(やることリスト)の内容
              %li.mypage__content
                .mypage__content__no
                  %p 現在取り扱い中の~~はありません
          /メインコンテンツ タブ選択(取引中/過去の取引)
          .mypage__select__products  
            .mypage__select__head
              %h2.mypage__select__head__message 購入した商品
            .mypage__select__tab
              %ul
                %li.mypage__item__bottom.actives
                  = link_to '#' do
                    %h3 取引中
                %li.mypage__item__bottom
                  = link_to '#' do
                    %h3 過去の取引
            /メインコンテンツ タブ選択(取引中)の内容
            .mypage__select__body
              %ul
                %li.mypage__content__bottom.show
                  %ul.mypage__content__list
                    %li
                      = link_to root_path do
                        = image_tag "logo_red.svg", alt: "顔写真2",size: "48x48", class: 'news__icon'
                        .mypage__select__body__text
                          事務局から個別メッセージ『ログイン機能』
                          .mypage__select__bod__text__time
                            ● 21時間前
                        = icon('fas', 'angle-right', class: 'mypage__content__list__icon')
                    %li
                      = link_to root_path do
                        = image_tag "logo_red.svg", alt: "顔写真2",size: "48x48", class: 'news__icon'
                        .mypage__select__body__text
                          事務局から個別メッセージ『ログイン機能』
                          .mypage__select__bod__text__time
                            ● 21時間前
                        = icon('fas', 'angle-right', class: 'mypage__content__list__icon')
                    %li
                      = link_to root_path do
                        = image_tag "logo_red.svg", alt: "顔写真2",size: "48x48", class: 'news__icon'
                        .mypage__select__body__text
                          事務局から個別メッセージ『ログイン機能』
                          .mypage__select__bod__text__time
                            ● 21時間前
                        = icon('fas', 'angle-right', class: 'mypage__content__list__icon')
                    %li
                      = link_to root_path do
                        = image_tag "logo_red.svg", alt: "顔写真2",size: "48x48", class: 'news__icon'
                        .mypage__select__body__text
                          事務局から個別メッセージ『ログイン機能』
                          .mypage__select__bod__text__time
                            ● 21時間前
                        = icon('fas', 'angle-right', class: 'mypage__content__list__icon')
                    %li.go__index
                      = link_to root_path  do
                        .go__index__area
                          一覧を見る
                %li.mypage__content__bottom
                  /メインコンテンツ タブ選択(過去の取引)の内容
                  .mypage__content__no
                    %p 現在取り扱い中の~~はありません
                    
=render 'items/footer'