.aside
  .aside1
    .aside2
      
      .text1 スマホでかんたんフリマアプリ
      .text2 今すぐ無料ダウンロード！
      .images 
        = image_tag("logo_red.svg",alt:"mercari",class:"mercari-image2",size:"124x31")

        = link_to "#" ,class:"images-image " do
          = link_to image_tag("264-2640344_try-sam-app-store-and-google-play-icons.png",alt:"mercari",class:"mercari-image3",size:"124x31"),"#"

        = link_to "#" ,class:"images-image" do
          = link_to image_tag("https://krispykreme.jp/cms/wp-content/uploads/2018/10/btn_googleplay.png",alt:"mercari",class:"mercari-image3",size:"124x31"),"#"

    .aside3
      =image_tag("https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png",alt:"mercari",class:"mercari-image4",size:"124x31")


%footer.footer
  .footer_nav
    .information
      %h2.information__title メルカリについて
      %ul.information__title_list
        %li  
          = link_to "#" ,class:"item " do
            会社概要
        %li  
          = link_to "#" ,class:"item " do
            採用情報
        %li  
          = link_to "#" ,class:"item " do
            プレスリリース
        %li  
          = link_to "#" ,class:"item " do
            公式ブログ
        %li  
          = link_to "#" ,class:"item " do
            メルカリロゴ利用ガイドライン
            
        =link_to "https://twitter.com/", class: "contents__btn" do
          = icon( 'fab fa-twitter',class: "contents__btn--icon")
      
        =link_to "https://twitter.com/", class: "contents__btn" do
          = icon('fab fa-facebook-square', class: "contents__btn--icon")
        
    .information
      %h2.information__title ヘルプ＆ガイド
      %ul.information__title_list
        %li  
          = link_to "#" ,class:"item " do
            メルカリガイド
        %li  
          = link_to "#" ,class:"item " do
            らくらくメルカリ便
        %li  
          = link_to "#" ,class:"item " do
            ゆうゆうメルカリ便
        %li  
          = link_to "#" ,class:"item " do
            大型メルカリ便
        %li  
          = link_to "#" ,class:"item " do
            車体取引ガイド

        %li  
          = link_to "#" ,class:"item " do
            メルカリあんしん・あんぜん宣言！
        %li  
          = link_to "#" ,class:"item " do
            メルカリボックス

    .privacy
      %h2.privacy__title プライバシーと利用規約
      .div
        .privacy__title_item
          %ul.privacy__title_item__list
            %li  
              = link_to "#" ,class:"item " do
                プライバシーポリシー
            %li  
              = link_to "#" ,class:"item " do
                メルカリ利用規約
            %li  
              = link_to "#" ,class:"item " do
                あんしんスマホサポート制度に関する利用特約 
                -# 上記の、”あんしんスマホサポート制度に関する利用特約のとこだけ下線がでてしまいます。
            %li  
              = link_to "#" ,class:"item " do
                コンプライアンスポリシー

        .privacy__title_item
          %ul.privacy__title_item__list
            %li  
              = link_to "#" ,class:"item " do
                個人データの安全管理に係る基本方針
            %li  
              = link_to "#" ,class:"item " do
                特定商取引に関する表記
            %li  
              = link_to "#" ,class:"item " do
                資金決済法に基づく表示
            %li  
              = link_to "#" ,class:"item " do
                法令順守と犯罪抑止のために
    
    .countory
      %h2.countory__title 国
      %ul.information__title__list
        %li 
          = link_to "#" , class:"item " do
            日本          

        %li 
          = link_to "#" , class:"item " do
            United States
  .footer__last
    .footer__last-logo
      = link_to image_tag("fmarket_logo_red.svg",alt:"mercari",class:"mercari-image",size:"124x31"),"#"
      %span.detail © Mercari, Inc.