%header
  -# ヘッダーの中クラス
  .header-container
    -# ヘッダーの中の上のやつ     
    .header-top
      -# 左のメルカリのアイコン
      .header-top__left-icon
        = link_to image_tag('fmarket_logo_red.svg',size:"134x36"),'/'
      -# 右のフォーム
      .header-top__right-form
        = form_for '#' do |f|
          = f.text_field '#',class:'header-top__right-form__message',placeholder: '何かお探しですか？' 
          %button.header-top__right-form__btn
            -# 検索画面のアイコン
            = icon('fas', 'search', class: 'icon-search')
    -# ヘッダーの中の下のやつ
    .header-bottom
      -# カテゴリーから探すとブランドから探すの親要素
      .header-bottom__left
        -# カテゴリーから探すボタン
        = link_to '#',class:"header-bottom__left--category" do
          = icon('fas', 'list', class: 'icon-list')
          カテゴリーから探す
        %ul.header-bottom__left--dropdownfirst
          %li.header-bottom__left--dropdownfirst--children1
            = link_to 'レディース', categories_item_path(1)
            %ul.header-bottom__left--dropdownfirst--children1--dropdownsecond
              %li.header-bottom__left--dropdownfirst--children1--dropdownsecond--children2
                トップス
                %ul.header-bottom__left--dropdownfirst--children1--dropdownsecond--children2--dropdownthird
                  %li.header-bottom__left--dropdownfirst--children1--dropdownsecond--children2--dropdownthird--children3
                    Tシャツ1
                  %li.header-bottom__left--dropdownfirst--children1--dropdownsecond--children2--dropdownthird--children3
                    Tシャツ2
              %li.header-bottom__left--dropdownfirst--children1--dropdownsecond--children2
                ジャケット/アウター
                %ul.header-bottom__left--dropdownfirst--children1--dropdownsecond--children2--dropdownthird
                  %li.header-bottom__left--dropdownfirst--children1--dropdownsecond--children2--dropdownthird--children3
                    Tシャツ3
                  %li.header-bottom__left--dropdownfirst--children1--dropdownsecond--children2--dropdownthird--children3
                    Tシャツ4
              %li.header-bottom__left--dropdownfirst--children1--dropdownsecond--children2
                = link_to 'パンツ', root_path
              %li.header-bottom__left--dropdownfirst--children1--dropdownsecond--children2
                = link_to 'スカート', root_path
              %li.header-bottom__left--dropdownfirst--children1--dropdownsecond--children2
                = link_to 'ワンピース', root_path
              %li.header-bottom__left--dropdownfirst--children1--dropdownsecond--children2
                = link_to '靴', root_path
              %li.header-bottom__left--dropdownfirst--children1--dropdownsecond--children2
                = link_to 'ルームウェア', root_path
              %li.header-bottom__left--dropdownfirst--children1--dropdownsecond--children2
                = link_to '帽子', root_path
              %li.header-bottom__left--dropdownfirst--children1--dropdownsecond--children2
                = link_to 'バッグ', root_path
              %li.header-bottom__left--dropdownfirst--children1--dropdownsecond--children2
                = link_to 'アクセサリー', root_path
              %li.header-bottom__left--dropdownfirst--children1--dropdownsecond--children2
                = link_to 'ヘアアクセサリー', root_path
              %li.header-bottom__left--dropdownfirst--children1--dropdownsecond--children2
                = link_to '小物', root_path
              %li.header-bottom__left--dropdownfirst--children1--dropdownsecond--children2
                = link_to '時計', root_path
          %li.header-bottom__left--dropdownfirst--children1
            = link_to 'メンズ' , root_path
            %ul.header-bottom__left--dropdownfirst--children1--dropdownsecond
              -Item.men.each do |key,value|
                %li.header-bottom__left--dropdownfirst--children1--dropdownsecond--children2
                  = link_to "#{key}", categories_item_path(value)
          %li.header-bottom__left--dropdownfirst--children1
            = link_to 'ベビー・キッズ', categories_item_path(3)
            %ul.header-bottom__left--dropdownfirst--children1--dropdownsecond
              -Item.babies.each do |key,value|
                %li.header-bottom__left--dropdownfirst--children1--dropdownsecond--children2
                  = link_to "#{key}", categories_item_path(value)
          %li.header-bottom__left--dropdownfirst--children1
            = link_to 'インテリア・住まい・小物', categories_item_path(4)
            %ul.header-bottom__left--dropdownfirst--children1--dropdownsecond
              -Item.interiors.each do |key,value|
                %li.header-bottom__left--dropdownfirst--children1--dropdownsecond--children2
                  = link_to "#{key}", categories_item_path(value)
          %li.header-bottom__left--dropdownfirst--children1
            = link_to '本・音楽・・ゲーム', categories_item_path(5)
            %ul.header-bottom__left--dropdownfirst--children1--dropdownsecond
              -Item.books.each do |key,value|
                %li.header-bottom__left--dropdownfirst--children1--dropdownsecond--children2
                  = link_to "#{key}", categories_item_path(value)
          %li.header-bottom__left--dropdownfirst--children1
            = link_to 'おもちゃ・ホビー・グッズ', categories_item_path(6)
            %ul.header-bottom__left--dropdownfirst--children1--dropdownsecond
              -Item.hobbies.each do |key,value|
                %li.header-bottom__left--dropdownfirst--children1--dropdownsecond--children2
                  = link_to "#{key}", categories_item_path(value)
          %li.header-bottom__left--dropdownfirst--children1
            = link_to 'コスメ・香水・美容', categories_item_path(7)
            %ul.header-bottom__left--dropdownfirst--children1--dropdownsecond
              -Item.cosmetics.each do |key,value|
                %li.header-bottom__left--dropdownfirst--children1--dropdownsecond--children2
                  = link_to "#{key}", categories_item_path(value)
          %li.header-bottom__left--dropdownfirst--children1
            = link_to '家電・スマホ・カメラ', categories_item_path(8)
            %ul.header-bottom__left--dropdownfirst--children1--dropdownsecond
              -Item.appliances.each do |key,value|
                %li.header-bottom__left--dropdownfirst--children1--dropdownsecond--children2
                  = link_to "#{key}", categories_item_path(value)
          %li.header-bottom__left--dropdownfirst--children1
            = link_to 'スポーツ・レジャー', categories_item_path(9)
            %ul.header-bottom__left--dropdownfirst--children1--dropdownsecond
              -Item.sports.each do |key,value|
                %li.header-bottom__left--dropdownfirst--children1--dropdownsecond--children2
                  = link_to "#{key}", categories_item_path(value)
          %li.header-bottom__left--dropdownfirst--children1
            = link_to 'ハンドメイド', categories_item_path(10)
            %ul.header-bottom__left--dropdownfirst--children1--dropdownsecond
              -Item.hand_mades.each do |key,value|
                %li.header-bottom__left--dropdownfirst--children1--dropdownsecond--children2
                  = link_to "#{key}", categories_item_path(value)
          %li.header-bottom__left--dropdownfirst--children1
            = link_to 'チケット', categories_item_path(11)
            %ul.header-bottom__left--dropdownfirst--children1--dropdownsecond
              -Item.tickets.each do |key,value|
                %li.header-bottom__left--dropdownfirst--children1--dropdownsecond--children2
                  = link_to "#{key}", categories_item_path(value)
          %li.header-bottom__left--dropdownfirst--children1
            = link_to '自動車・オートバイ', categories_item_path(12)
            %ul.header-bottom__left--dropdownfirst--children1--dropdownsecond
              -Item.motorcycles.each do |key,value|
                %li.header-bottom__left--dropdownfirst--children1--dropdownsecond--children2
                  = link_to "#{key}", categories_item_path(value)
          %li.header-bottom__left--dropdownfirst--children1
            = link_to 'その他', categories_item_path(13)
            %ul.header-bottom__left--dropdownfirst--children1--dropdownsecond
              -Item.others.each do |key,value|
                %li.header-bottom__left--dropdownfirst--children1--dropdownsecond--children2
                  = link_to "#{key}", categories_item_path(value)
          %li.header-bottom__left--dropdownfirst--children1
            = link_to 'カテゴリー一覧', categories_item_path(14)
        -# ブランドから探すボタン
        = link_to '#',class:"header-bottom__left--brand" do
          = icon('fas', 'tag', class: 'icon-tag')
          ブランドから探す

        %ul.header-bottom__left--ul
          %li.header-bottom__left--ul--li
            シャネル
          %li.header-bottom__left--ul--li
            ナイキ
          %li.header-bottom__left--ul--li
            ルイ ヴィトン
          %li.header-bottom__left--ul--li
            シュプリーム
          %li.header-bottom__left--ul--li
            アディダス
          %li.header-bottom__left--ul--li
            ブランド一覧
      -# ユーザーの会員登録とログイン
      .header-bottom__right
        -if user_signed_in?
          =current_user.nickname
        -else
          = link_to new_user_path,class:"header-bottom__right--user" do
            新規会員登録
          = link_to new_user_session_path,class:"header-bottom__right--rogin" do
            ログイン

