=render 'items/header'

.toppage-body
  .toppage-slider
    .slider-images
      = image_tag "image2.jpeg", height: "400px", width: "100%"
      .slider-images__messages
        .slider-images__messages__message1
          スマホで  かんたん
          %br
          フリマアプリ
        .slider-images__messages__message2
          フリマはスマホカメラからすぐに出品できる
          %br
          購入時も安心な独自システムのアプリです
        .slider-images__messages__message3
          = link_to "https://apps.apple.com/jp/app/id667861049?l=ja", target: "_blank", class: "toppage-app" do
            = image_tag "apple.png", size: "200x80", class: "toppage-logo"
          = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", target: "_blank", class: "toppage-app" do
            = image_tag "google-play.png", size: "200x80", class: "toppge-logo"
    .slider-images
      = link_to "#", target: "_blank" do
        = image_tag "image1.jpeg", height: "400px", width: "100%"



  .toppage__category
    .toppage__category__heading
      人気のカテゴリー
      .toppage__category__heading__type
        =link_to "レディース", '#', class: "toppage__category__heading__type__btn"
        =link_to "メンズ", '#', class: "toppage__category__heading__type__btn"
        =link_to "家電・スマホ・カメラ", '#', class: "toppage__category__heading__type__btn"
        =link_to "おもちゃ・ホビー・グッズ", '#', class: "toppage__category__heading__type__btn"
  .toppage-list
    .tppage-container
      .toppage__items
        .toppage__items__name
          レディース新着アイテム
        =link_to "もっと見る ＞", '#', class: "toppage__items__button"
      .toppage__block
        .toppage__block__goods
          = link_to "#", target: "_blank", class: "toppage__block__goods__link" do
            = image_tag "image4.jpg", class: "toppage__block__goods__link__image"
            .toppage__block__goods__link__words
              カバン
          .toppage__block__goods__price
            ¥100,000
        .toppage__block2__goods
          = link_to "#", target: "_blank", class: "toppage__block2__goods__link" do
            = image_tag "image4.jpg", size: "60×60", class: "toppage__block2__goods__link__image"
            .toppage__block2__goods__link__words
              カバン
          .toppage__block2__goods__price
            ¥100,000
        .toppage__block__goods
          = link_to "#", target: "_blank", class: "toppage__block__goods__link" do
            = image_tag "image4.jpg", class: "toppage__block__goods__link__image"
            .toppage__block__goods__link__words
              カバン
          .toppage__block__goods__price
            ¥100,000
        .toppage__block2__goods
          = link_to "#", target: "_blank", class: "toppage__block2__goods__link" do
            = image_tag "image4.jpg", size: "60×60", class: "toppage__block2__goods__link__image"
            .toppage__block2__goods__link__words
              カバン
          .toppage__block2__goods__price
            ¥100,000
        .toppage__block__goods
          = link_to "#", target: "_blank", class: "toppage__block__goods__link" do
            = image_tag "image4.jpg", class: "toppage__block__goods__link__image"
            .toppage__block__goods__link__words
              カバン
          .toppage__block__goods__price
            ¥100,000
        .toppage__block2__goods
          = link_to "#", target: "_blank", class: "toppage__block2__goods__link" do
            = image_tag "image4.jpg", size: "60×60", class: "toppage__block2__goods__link__image"
            .toppage__block2__goods__link__words
              カバン
          .toppage__block2__goods__price
            ¥100,000
        .toppage__block__goods
          = link_to "#", target: "_blank", class: "toppage__block__goods__link" do
            = image_tag "image4.jpg", class: "toppage__block__goods__link__image"
            .toppage__block__goods__link__words
              カバン
          .toppage__block__goods__price
            ¥100,000
        .toppage__block2__goods
          = link_to "#", target: "_blank", class: "toppage__block2__goods__link" do
            = image_tag "image4.jpg", size: "60×60", class: "toppage__block2__goods__link__image"
            .toppage__block2__goods__link__words
              カバン
          .toppage__block2__goods__price
            ¥100,000

  .toppage__category
    .toppage__category__heading
      人気のブランド
      .toppage__category__heading__type
        =link_to "シャネル", '#', class: "toppage__category__heading__type__btn"
        =link_to "ルイヴィトン", '#', class: "toppage__category__heading__type__btn"
        =link_to "シュプリーム", '#', class: "toppage__category__heading__type__btn"
        =link_to "ナイキ", '#', class: "toppage__category__heading__type__btn"
  .toppage-list
    .tppage-container
      .toppage__items
        .toppage__items__name
          シャネル新着アイテム
        =link_to "もっと見る ＞", '#', class: "toppage__items__button"
      .toppage__block
        .toppage__block__goods
          = link_to "#", target: "_blank", class: "toppage__block__goods__link" do
            = image_tag "image4.jpg", class: "toppage__block__goods__link__image"
            .toppage__block__goods__link__words
              カバン
          .toppage__block__goods__price
            ¥100,000
        .toppage__block2__goods
          = link_to "#", target: "_blank", class: "toppage__block2__goods__link" do
            = image_tag "image4.jpg", size: "60×60", class: "toppage__block2__goods__link__image"
            .toppage__block2__goods__link__words
              カバン
          .toppage__block2__goods__price
            ¥100,000
        .toppage__block__goods
          = link_to "#", target: "_blank", class: "toppage__block__goods__link" do
            = image_tag "image4.jpg", class: "toppage__block__goods__link__image"
            .toppage__block__goods__link__words
              カバン
          .toppage__block__goods__price
            ¥100,000
        .toppage__block2__goods
          = link_to "#", target: "_blank", class: "toppage__block2__goods__link" do
            = image_tag "image4.jpg", size: "60×60", class: "toppage__block2__goods__link__image"
            .toppage__block2__goods__link__words
              カバン
          .toppage__block2__goods__price
            ¥100,000
        .toppage__block__goods
          = link_to "#", target: "_blank", class: "toppage__block__goods__link" do
            = image_tag "image4.jpg", class: "toppage__block__goods__link__image"
            .toppage__block__goods__link__words
              カバン
          .toppage__block__goods__price
            ¥100,000
        .toppage__block2__goods
          = link_to "#", target: "_blank", class: "toppage__block2__goods__link" do
            = image_tag "image4.jpg", size: "60×60", class: "toppage__block2__goods__link__image"
            .toppage__block2__goods__link__words
              カバン
          .toppage__block2__goods__price
            ¥100,000
        .toppage__block__goods
          = link_to "#", target: "_blank", class: "toppage__block__goods__link" do
            = image_tag "image4.jpg", class: "toppage__block__goods__link__image"
            .toppage__block__goods__link__words
              カバン
          .toppage__block__goods__price
            ¥100,000
        .toppage__block2__goods
          = link_to "#", target: "_blank", class: "toppage__block2__goods__link" do
            = image_tag "image4.jpg", size: "60×60", class: "toppage__block2__goods__link__image"
            .toppage__block2__goods__link__words
              カバン
          .toppage__block2__goods__price
            ¥100,000

=render 'items/footer'