=render 'items/header'

.toppage-body
  .toppage-slider
    .slider-images
      = image_tag "image2.jpeg", height: "400px", width: "100%"
      .slider-images__messages
        .slider-images__messages__message1
          スマホで  かんたん
          %br
          フリマアプリ
        .slider-images__messages__message2
          フリマはスマホカメラからすぐに出品できる
          %br
          購入時も安心な独自システムのアプリです
        .slider-images__messages__message3
          = link_to "https://apps.apple.com/jp/app/id667861049?l=ja", target: "_blank", class: "toppage-app" do
            = image_tag "apple.png", size: "200x80", class: "toppage-logo"
          = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", target: "_blank", class: "toppage-app" do
            = image_tag "google-play.png", size: "200x80", class: "toppge-logo"
    .slider-images
      = link_to "#", target: "_blank" do
        = image_tag "image1.jpeg", height: "400px", width: "100%"



  .toppage__category
    .toppage__category__heading
      人気のカテゴリー
      .toppage__category__heading__type
        =link_to "レディース", '#', class: "toppage__category__heading__type__btn"
        =link_to "メンズ", '#', class: "toppage__category__heading__type__btn"
        =link_to "家電・スマホ・カメラ", '#', class: "toppage__category__heading__type__btn"
        =link_to "おもちゃ・ホビー・グッズ", '#', class: "toppage__category__heading__type__btn"
  .toppage-list
    .tppage-container
      .toppage__items
        .toppage__items__name
          レディース新着アイテム
        =link_to "もっと見る ＞", '#', class: "toppage__items__button"
      .toppage__block
        -@items_women.each do |item|
          .toppage__block__goods
            = link_to "/items/#{item.id}", target: "_blank", class: "toppage__block__goods__link" do
              = image_tag item.images[0].src.to_s, class: "toppage__block__goods__link__image"
              .toppage__block__goods__link__words
                =item.name
            .toppage__block__goods__price
              = converting_to_jpy(item.price)

  .toppage-list
    .tppage-container
      .toppage__items
        .toppage__items__name
          メンズ新着アイテム
        =link_to "もっと見る ＞", '#', class: "toppage__items__button"
      .toppage__block
        -@items_men.each do |item|
          .toppage__block__goods
            = link_to "/items/#{item.id}", target: "_blank", class: "toppage__block__goods__link" do
              = image_tag item.images[0].src.to_s, class: "toppage__block__goods__link__image"
              .toppage__block__goods__link__words
                =item.name
            .toppage__block__goods__price
              = converting_to_jpy(item.price)
  .toppage-list
    .tppage-container
      .toppage__items
        .toppage__items__name
          家電・スマホ・カメラ新着アイテム
        =link_to "もっと見る ＞", '#', class: "toppage__items__button"
      .toppage__block
        -@items_appliances.each do |item|
          .toppage__block__goods
            = link_to "/items/#{item.id}", target: "_blank", class: "toppage__block__goods__link" do
              = image_tag item.images[0].src.to_s, class: "toppage__block__goods__link__image"
              .toppage__block__goods__link__words
                =item.name
            .toppage__block__goods__price
              = converting_to_jpy(item.price)
  .toppage-list
    .tppage-container
      .toppage__items
        .toppage__items__name
          おもちゃ・ホビー・グッズ新着アイテム
        =link_to "もっと見る ＞", '#', class: "toppage__items__button"
      .toppage__block
        -@items_hobby.each do |item|
          .toppage__block__goods
            = link_to "/items/#{item.id}", target: "_blank", class: "toppage__block__goods__link" do
              = image_tag item.images[0].src.to_s, class: "toppage__block__goods__link__image"
              .toppage__block__goods__link__words
                =item.name
            .toppage__block__goods__price
              = converting_to_jpy(item.price)
        


  .toppage__category
    .toppage__category__heading
      人気のブランド
      .toppage__category__heading__type
        =link_to "シャネル", '#', class: "toppage__category__heading__type__btn"
        =link_to "ルイヴィトン", '#', class: "toppage__category__heading__type__btn"
        =link_to "シュプリーム", '#', class: "toppage__category__heading__type__btn"
        =link_to "ナイキ", '#', class: "toppage__category__heading__type__btn"
  .toppage-list
    .tppage-container
      .toppage__items
        .toppage__items__name
          シャネル新着アイテム
        =link_to "もっと見る ＞", '#', class: "toppage__items__button"
      .toppage__block
        -@items_chanel.each do |item|
          .toppage__block__goods
            = link_to "/items/#{item.id}", target: "_blank", class: "toppage__block__goods__link" do
              = image_tag item.images[0].src.to_s, class: "toppage__block__goods__link__image"
              .toppage__block__goods__link__words
                =item.name
            .toppage__block__goods__price
              = converting_to_jpy(item.price)
  .toppage-list
    .tppage-container
      .toppage__items
        .toppage__items__name
          ルイヴィトン新着アイテム
        =link_to "もっと見る ＞", '#', class: "toppage__items__button"
      .toppage__block
        -@items_vuitton.each do |item|
          .toppage__block__goods
            = link_to "/items/#{item.id}", target: "_blank", class: "toppage__block__goods__link" do
              = image_tag item.images[0].src.to_s, class: "toppage__block__goods__link__image"
              .toppage__block__goods__link__words
                =item.name
            .toppage__block__goods__price
              = converting_to_jpy(item.price)
  .toppage-list
    .tppage-container
      .toppage__items
        .toppage__items__name
          シュプリーム新着アイテム
        =link_to "もっと見る ＞", '#', class: "toppage__items__button"
      .toppage__block
        -@items_supreme.each do |item|
          .toppage__block__goods
            = link_to "/items/#{item.id}", target: "_blank", class: "toppage__block__goods__link" do
              = image_tag item.images[0].src.to_s, class: "toppage__block__goods__link__image"
              .toppage__block__goods__link__words
                =item.name
            .toppage__block__goods__price
              = converting_to_jpy(item.price)
  .toppage-list
    .tppage-container
      .toppage__items
        .toppage__items__name
          ナイキ新着アイテム
        =link_to "もっと見る ＞", '#', class: "toppage__items__button"
      .toppage__block
        -@items_nike.each do |item|
          .toppage__block__goods
            = link_to "/items/#{item.id}", target: "_blank", class: "toppage__block__goods__link" do
              = image_tag item.images[0].src.to_s, class: "toppage__block__goods__link__image"
              .toppage__block__goods__link__words
                =item.name
            .toppage__block__goods__price
              = converting_to_jpy(item.price)
        

=render 'items/footer'