=render 'items/header'
.toppage-body
  .toppage-slider
    .slider-images
      = image_tag "image2.jpeg", height: "400px", width: "100%"
      .slider-images__messages
        .slider-images__messages__message1
          スマホで  かんたん
          %br
          フリマアプリ
        .slider-images__messages__message2
          フリマはスマホカメラからすぐに出品できる
          %br
          購入時も安心な独自システムのアプリです
        .slider-images__messages__message3
          = link_to "https://apps.apple.com/jp/app/id667861049?l=ja", target: "_blank", class: "toppage-app" do
            = image_tag "apple.png", size: "200x80", class: "toppage-logo"
          = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", target: "_blank", class: "toppage-app" do
            = image_tag "google-play.png", size: "200x80", class: "toppge-logo"
    .slider-images
      = link_to "#", target: "_blank" do
        = image_tag "image1.jpeg", height: "400px", width: "100%"
  /カテゴリーに関する一覧
  .toppage__category
    .toppage__category__heading
      人気のカテゴリー
      .toppage__category__heading__type
        =link_to "レディース", '#', class: "toppage__category__heading__type__btn"
        =link_to "メンズ", '#', class: "toppage__category__heading__type__btn"
        =link_to "家電・スマホ・カメラ", '#', class: "toppage__category__heading__type__btn"
        =link_to "おもちゃ・ホビー・グッズ", '#', class: "toppage__category__heading__type__btn"
  /レディース商品
  = render partial: 'index', locals: { 'items': @items_women ,genre: 'レディース'}
  /メンズ商品関連商品一覧
  = render partial: 'index', locals: { 'items': @items_men ,genre: 'メンズ'}
  /家電・スマホ・カメラ関連商品一覧
  = render partial: 'index', locals: { 'items': @items_appliances ,genre: '家電・スマホ・カメラ'}
  /おもちゃ・ホビー・グッズ関連商品一覧
  = render partial: 'index', locals: { 'items': @items_hobby ,genre: 'おもちゃ・ホビー・グッズ'}
        
  /ブランドに関する一覧
  .toppage__category
    .toppage__category__heading
      人気のブランド
      .toppage__category__heading__type
        =link_to "シャネル", '#', class: "toppage__category__heading__type__btn"
        =link_to "ルイヴィトン", '#', class: "toppage__category__heading__type__btn"
        =link_to "シュプリーム", '#', class: "toppage__category__heading__type__btn"
        =link_to "ナイキ", '#', class: "toppage__category__heading__type__btn"
  /シャネル関連商品一覧
  = render partial: 'index', locals: { 'items': @items_chanel ,genre: 'シャネル'}
  /ルイヴィトン関連商品一覧
  = render partial: 'index', locals: { 'items': @items_vuitton ,genre: 'ルイヴィトン'}
  /シュプリーム関連商品一覧
  = render partial: 'index', locals: { 'items': @items_supreme ,genre: 'シュプリーム'}
  /ナイキ関連商品一覧
  = render partial: 'index', locals: { 'items': @items_nike ,genre: 'ナイキ'}
        

=render 'items/footer'