=render 'items/header'

%body
  /外の大枠
  .show-container
    /コメントまでの枠
    .showcontent-main
      %h1.item-name 
        = @item.name
      /画像説明
      %p.item-wording
        ="『#{@item.name}』は、920回の取引実績を持つ#{@item.user.nickname}さんから出品されました。#{@item.genre}の商品で、#{@item.prefecture.name}から#{@item.delivery_day}で発送されます。"
      /画像一覧
      .item-main-content 
        /画像一覧(ピックアップ)
        .item-main-content__photo
          = image_tag @item.images[0].src.to_s, size:"250x300"
          /画像の販売状況
          - if @item.user_id.present? && @item.buyer_id.present? && @item.sold.present?
            .item-main-content__message
            .item-main-content__stutas
              SOLD
          - elsif @item.user_id.present? && @item.buyer_id.present? 
            .item-main-content__message
            .item-main-content__stutas
              交渉中
          /画像一覧(その他)
          .photo 
            -@item_images.each do |image|
              = image_tag image.src.to_s, size:"50x50",class:"photo1"  
        /商品データ
        %table.item-main-content__table
          /商品出品者 
          %tr.item-main-content__table__row
            %th.item-main-content__table__row--title
              出品者 
            %td.item-main-content__table__row--data
              = link_to personal_details_user_path(@item.user.id) do
                =@item.user.nickname
          /商品カテゴリー
          %tr.item-main-content__table__row
            %th.item-main-content__table__row--title
              カテゴリー
            %td.item-main-content__table__row--data
              = link_to categories_item_path(@item.genre) do
                =@item.genre
          /商品ブランド（入力していれば表示）
          -if @item.brand.present?
            %tr.item-main-content__table__row
              %th.item-main-content__table__row--title
                ブランド
              %td.item-main-content__table__row--data 
                = link_to '#' do
                  =@item.brand
          /商品状態
          %tr.item-main-content__table__row
            %th.item-main-content__table__row--title
              商品の状態
            %td.item-main-content__table__row--data
              =@item.status
          /配送料の負担
          %tr.item-main-content__table__row
            %th.item-main-content__table__row--title
              配送料の負担
            %td.item-main-content__table__row--data
              =@item.postage_selct
          /配送の方法
          %tr.item-main-content__table__row
            %th.item-main-content__table__row--title
              配送の方法
            %td.item-main-content__table__row--data
              =@item.deliver_method
          /配送元地域
          %tr.item-main-content__table__row
            %th.item-main-content__table__row--title
              配送元地域
            %td.item-main-content__table__row--data
              = link_to  prefectures_item_path(@item.prefecture_id) do
                =@item.prefecture.name
          /発送日の目安
          %tr.item-main-content__table__row
            %th.item-main-content__table__row--title
              発送日の目安
            %td.item-main-content__table__row--data
              =@item.delivery_day

      /商品価格
      .item-price
        %span.item-price__fee
          = converting_to_jpy(@item.price)
        %span.item-price__taxin
          (税込)
        %span.item-price__taxin2
          送料込み
      -if @item.user_id.present? && @item.buyer_id.present? && @item.sold.present?
        / ボタン 購入者用
        .item-buy
          .item-buy__buying__gray
            売り切れました
      -elsif @item.user_id.present? && @item.buyer_id.present? && (@item.user_id == current_user.id || @item.buyer_id == current_user.id)
        / ボタン 購入者用
        .item-buy
          = link_to transaction_item_path(@item.id),class:"item-buy__buying" do
            取引画面に進む
      -elsif @item.buyer_id.blank? && @item.user.id  ==  current_user.id
        / ボタン 投稿者用
        .item-buy
          = link_to edit_item_path,class:"item-buy__buying" do
            商品の編集 
        %p.item_or or
        .item-buy.item_gray
          = link_to '#',class:"item-buy__buying" do
            出品を一旦停止する 
        .item-buy.item_gray
          = link_to item_path(@item.id), method: :delete,class:"item-buy__buying" do
            この商品を削除する 
      -elsif @item.buyer_id.blank? && @item.user_id !=  current_user.id
        .item-buy
          = link_to buy_confirmation_item_path(@item.id),class:"item-buy__buying" do
            購入画面に進む
      -if @item.deliver_method == 2
        %p.sipping-message
          この商品はゆうゆうメルカリ便を利用しているため、アプリからのみ購入できます。
      / 商品の説明欄
      .item-description
        =simple_format(@item.text)
      / 底部のボタン（いいね！、不適切な商品の報告、あんしんあんぜんへの取り組み）
      .item-button-container
        .item-button-container__left{id: "like-#{@item.id}"}
          = render partial: 'likes/like', locals: { item: @item, items: @items, likes: @likes, like: @like}
          -# = link_to '#' ,class:"item-button__left__like" do
          -#   = icon('fas' ,'heart',class:"icon-heart")
          -#   %span.item-button__left__like--good
          -#     いいね！
          -#   = render partial: 'like', locals: {'item': @item}
          -#   %span.item-button__left__like--number
          -# -#     10000
          -# = link_to '#' ,class:"item-button__left__reports" do
          -#   = icon('fas' ,'flag',class:"icon-flag")
          -#   %span.item-button__left__reports--report
          -#     不適切な商品の報告
        .item-button__right
          = link_to '#' ,class:"item-button__right__safety" do
            = icon('fas' ,'lock',class:"icon-lock")
            %span.item-button__right__safety--word
              あんしん・あんぜんへの取り組み
    /商品に対する顧客のコメント
    .comment-item-container
      - @item.comments.each do|comment|
        %ul.item-contents
          %li.item-comments__comment
            = image_tag "https://bepo-blog.com/wp-content/uploads/2019/08/nikorun.jpg", size:"30x30",class:"item-comments__comment--imagephoto"
            .item-comments__comment__body
              .item-comments__comment__body--text
                = comment.text
              %time.item-comments__comment__body__time
                = icon('fas' ,'clock',class:"icon-clock")
                %span.item-comments__comment__body__time--date
                  = comment.created_at.strftime('%Y/%m/%d')

      .comment-note 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      = form_for @comment,url:item_comments_path(@item.id) do |f|
        =f.text_area :text, rows:"5",class:"comment-message"
        =f.submit "コメントする",class:"comment-submit"

    /左、右ボタン
    %ul.nav-item
      %li.nav-item__left
        = link_to '#' ,class:"nav-item__left__tereport-le" do
          = icon('fas' ,'arrow-left')
          左
      %li.nav-item__right
        = link_to '#' ,class:"nav-item__right__tereport-ri" do
          右
          = icon('fas' ,'arrow-right')
    /SNSアイコン
    .media-box
      %ul.media-box__container
        %li.media-box__container__item
          = link_to '#',class:".media-box__container__item--facebook" do
            = icon('fab' ,'facebook-square',class:"icon-facebook")
        %li.media-box__container__item
          = link_to '#',class:".media-box__container__item--twitter" do
            = icon('fab' ,'twitter-square',class:"icon-twitter")
        %li.media-box__container__item
          = link_to '#',class:".media-box__container__item--pinterest" do
            = icon('fab' ,'pinterest-square',class:"icon-pinterest")
    /商品出品者に関連する商品
    .other-items-container
      .other-items-title
        = link_to '#',class:"other-items-title__word" do
          ="#{@item.user.nickname}さんのその他の商品"
      /商品一覧
      .user-other-items
        -@user_items.each do |item|
          .user-other-items__box
            /1枚目の画像のみ表示
            = link_to image_tag(item.images[0].src.to_s,size:'220x220',class:"user-other-items__box--image"),'#'
            .user-other-items__box__body
              .user-other-items__box__body--name
                =item.name
              /商品価格
              .user-other-items__box__body--price
                =converting_to_jpy(item.price)
                .user-other-items__box__body--price--heart
                  = icon('fas' ,'heart',class:"icon-heart")
                  10
        

    /関連商品に関する出品
    .other-items-container
      .other-items-title
        = link_to '#',class:"other-items-title__word" do
          ="#{@item.genre}その他の商品"
      .user-other-items
        -@genre_items.each do |item|
          .user-other-items__box
            /1枚目の画像のみ表示
            = link_to image_tag(item.images[0].src.to_s,size:'220x220',class:"user-other-items__box--image")
            .user-other-items__box__body
              .user-other-items__box__body--name
                =item.name
              /商品価格
              .user-other-items__box__body--price
                =converting_to_jpy(item.price)
                .user-other-items__box__body--price--heart
                  = icon('fas' ,'heart',class:"icon-heart")
                  10
        
        
    /ページ最下部のボタン
    .nav
      .nav__info
        - breadcrumb :show, @item
        = render "layouts/breadcrumbs"
        
=render 'items/footer'